<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaseSourceCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B030CD12120456B00E0A1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B030CE82120456D00E0A1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B030CF32120456D00E0A1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
